* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(204, 88, 255, 0.04);
    overflow: hidden;
}

#upper-arrow {
    position: fixed;

    z-index: 888;
    text-align: center;

    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 50px;

    opacity: 0.5;

    -webkit-transition: font-size 0.2s, opacity 0.2s;
    -moz-transition: font-size 0.2s, opacity 0.2s;
    -ms-transition: font-size 0.2s, opacity 0.2s;
    -o-transition: font-size 0.2s, opacity 0.2s;
    transition: font-size 0.2s, opacity 0.2s;
}

#upper-arrow:hover {
    font-size: 60px;
    opacity: 1;
    cursor: pointer;
}

#lower-arrow {
    position: fixed;

    text-align: center;

    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 50px;

    bottom: 0px;

    opacity: 0.5;

    -webkit-transition: font-size 0.2s, opacity 0.2s;
    -moz-transition: font-size 0.2s, opacity 0.2s;
    -ms-transition: font-size 0.2s, opacity 0.2s;
    -o-transition: font-size 0.2s, opacity 0.2s;
    transition: font-size 0.2s, opacity 0.2s;
}

#lower-arrow:hover {
    font-size: 60px;
    opacity: 1;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#readmore {
    margin: 10px auto;
    width: 160px;
    padding: 0px;
    height: 40px;
    text-align: center;
    color: orangered;
    border: 2px orangered solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-transition: color 0.2s, background 0.2s;
    -moz-transition: color 0.2s, background 0.2s;
    -ms-transition: color 0.2s, background 0.2s;
    -o-transition: color 0.2s, background 0.2s;
    transition: color 0.2s, background 0.2s;
}

#readmore:hover {
    color: white;
    background: orangered;

    cursor: pointer;
}

.card-container {
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    height: 700px;
    padding: 50px;
    background: white;
    box-sizing: border-box;
    box-shadow: grey 5px 5px 10px 5px;
    opacity: 1;

    -webkit-transition: opacity 0.2s, transform 1s, width 0.5s ease-in-out, background 0.2s;
    -moz-transition: opacity 0.2s, transform 1s, width 0.5s ease-in-out, background 0.2s;
    -ms-transition: opacity 0.2s, transform 1s, width 0.5s ease-in-out, background 0.2s;
    -o-transition: opacity 0.2s, transform 1s, width 0.5s ease-in-out, background 0.2s;
    transition: opacity 0.2s, transform 1s, width 0.5s ease-in-out, background 0.2s;
}

.card-content {
    margin: 0 auto;
    width: 400px;
    height: 550px;
    overflow: hidden;
    box-sizing: border-box;

    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

#left-settings {
    z-index: 990;
    position: absolute;
    width: 70px;
    height: 99999px;
    overflow: hidden;

    -webkit-transition: background 0.2s, width 0.2s ease-in-out;
    -moz-transition: background 0.2s, width 0.2s ease-in-out;
    -ms-transition: background 0.2s, width 0.2s ease-in-out;
    -o-transition: background 0.2s, width 0.2s ease-in-out;
    transition: background 0.2s, width 0.2s ease-in-out;
}

#left-settings:hover {
    background: #45304e;
}

#right-settings {
    right: 0px;
    z-index: 990;
    position: absolute;
    width: 70px;
    height: 99999px;
    overflow: hidden;


    -webkit-transition: background 0.2s, width 0.2s ease-in-out;
    -moz-transition: background 0.2s, width 0.2s ease-in-out;
    -ms-transition: background 0.2s, width 0.2s ease-in-out;
    -o-transition: background 0.2s, width 0.2s ease-in-out;
    transition: background 0.2s, width 0.2s ease-in-out;
}

#right-settings:hover {
    background: #45304e;
}

#visibility {
    top: 10px;
    z-index: 992;
    left: 20px;

    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: grey 2px 2px 5px 2px;
    padding-top: 2px;


    -webkit-transition: width 0.2s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -moz-transition: width 0.2s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -ms-transition: width 0.2s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -o-transition: width 0.2s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    transition: width 0.2s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
}

#visibility:hover {
    left: 15px;

    width: 40px;
    height: 40px;
    font-size: 13px;

    cursor: pointer;
}

#return {
    top: 55px;
    z-index: 992;
    left: 20px;

    opacity: 0;

    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: grey 2px 2px 5px 2px;
    padding-top: 2px;


    -webkit-transition: width 0.2s, height 0.2s, opacity 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -moz-transition: width 0.2s, height 0.2s, opacity 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -ms-transition: width 0.2s, height 0.2s, opacity 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -o-transition: width 0.2s, height 0.2s, opacity 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    transition: width 0.2s, height 0.2s, opacity 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
}

#return:hover {
    left: 15px;

    width: 40px;
    height: 40px;
    font-size: 13px;

    cursor: pointer;
}

.menu-item {
    z-index: 992;
    left: 20px;

    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: grey 2px 2px 5px 2px;
    padding-top: 2px;


    -webkit-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -moz-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -ms-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -o-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
}

.menu-item:hover {
    left: 15px;

    width: 40px;
    height: 40px;
    font-size: 13px;

    cursor: pointer;
}

.card-picker-item {
    z-index: 991;
    right: 20px;

    position: absolute;
    width: 30px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: grey 2px 2px 5px 2px;
    padding: 5px;


    -webkit-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, right 0.2s, background 0.2s, top 0.5s ease-in-out;
    -moz-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, right 0.2s, background 0.2s, top 0.5s ease-in-out;
    -ms-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, right 0.2s, background 0.2s, top 0.5s ease-in-out;
    -o-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, right 0.2s, background 0.2s, top 0.5s ease-in-out;
    transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, right 0.2s, background 0.2s, top 0.5s ease-in-out;
}

.card-picker-item:hover {
    right: 15px;

    width: 40px;
    height: 50px;
    font-size: 30px;

    cursor: pointer;
}

.card-background-item {
    z-index: 991;
    left: 20px;

    position: absolute;
    width: 30px;
    height: 40px;
    background: white;
    color: black;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    box-shadow: grey 2px 2px 5px 2px;
    padding: 5px;


    -webkit-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -moz-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -ms-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -o-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
}

.card-background-item:hover {
    left: 15px;

    width: 40px;
    height: 50px;
    font-size: 15px;

    cursor: pointer;
}

.card-typography-item {
    z-index: 991;
    left: 20px;

    position: absolute;
    width: 30px;
    height: 40px;
    background: white;
    color: black;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    box-shadow: grey 2px 2px 5px 2px;
    padding: 5px;


    -webkit-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -moz-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -ms-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    -o-transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
    transition: width 0.2s, opacity 1s, height 0.2s, font-size 0.2s, left 0.2s, top 0.5s ease-in-out;
}

.card-typography-item:hover {
    left: 15px;

    width: 40px;
    height: 50px;
    font-size: 15px;

    cursor: pointer;
}